*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(87, 165, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 5px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
}

.container .title ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
}

form .user-details .inputbox{
    
    padding: 5px;
    width: calc(100% / 2 - 5px);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.user-details .inputbox input{
    height: 40px;
    width: 100%;
}

form .user-details label{
    margin-top: 5px;
    display: flex;
}

form .user-details .label{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    justify-content: space-between;
    width: calc(100% / 2 - 10px);
}

form .user-details select{
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

form .user-details .photo{
    padding: 5px;
    
}
.container button{
    font-size: 25px;
}
.container .button{
    text-align: center;
}

.container .login{
    text-align: center;
    margin-top: 5px;
}