body{
    background-image:url("https://images8.alphacoders.com/755/thumb-1920-755323.jpg");
    background-size:cover;
   }
   
   .d2{
       text-align:center;
   }
   h3{
   color: white;
   }
   
   p{
    color:aqua;
   }
   