@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --PRIMARY-COLOR : #1098ad;
    --BGCOLOR : #f7f7f7;
}

body{
    border-block: 10px solid var(--PRIMARY-COLOR);
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    
}

h1{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.825rem;
    letter-spacing: 1.5px;
    margin: 1em;
}

h3{
    color: var(--PRIMARY-COLOR);
    font-weight: 500;
    margin-bottom: 1rem;
}


.container{
    width: 85%;
    margin: 0 auto;

    display: grid;
    gap: 2rem;
    grid-template-areas: 
            "header header header"
            "content content aside"
            "content content aside"
            "footer footer footer";
}

.title{
    font-size: 2rem;
    font-weight: 500;
    color: var(--PRIMARY-COLOR);
}

.primary-header{
    grid-area: header;
    min-height: min-content;

    background-color: var(--BGCOLOR);
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.nav-links a{
    color: inherit;
    text-decoration: none;
}

.nav-links a:hover{
    color: var(--PRIMARY-COLOR);
}

.main-content{
    grid-area: content;
    
    height: 80vh;
}

.page-aside{
    max-width: 400px;
    grid-area: aside;
    padding: 1rem 1.5rem;
    background-color: var(--BGCOLOR);
    border-block: 5px solid var(--PRIMARY-COLOR);

    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.page-aside h2{
    text-align: center;
    margin-top: 1rem;
}

.primary-footer{
    margin-block: 3rem 1rem;

    grid-area: footer;
    min-height: min-content;

}

/*  */

.content-text{
    font-size: 1.125rem;
    max-width: 700px;
    letter-spacing: 1px;
    line-height: 1.4;
}


/*  */

.image-container{
    margin-block: 1.5rem;
    max-width: 800px;
}

.image-container img{
    width: 100%;
}

.page-aside img{
    max-width: 80%;
}

/*  */

.aside-content > p{
    font-weight: 500;
    font-size: 1.125rem;
    margin-top: 0.5em;
}