*{
    border: 0;
    padding: 0;
    background-color: #919191;
}

.mayank{
    
    color: rgb(12, 12, 12);
    border-radius: 3px;
    
}
.text{
    margin:0 auto;
    width:65%;
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: rgb(9, 246, 48);
}
h1 , p {
    text-align: center;
}
span{
    color: rgb(250, 250, 250);
}