*{font-family: Comic Sans MS;
}

h1{
    text-align: center;
    
}
body{
    background-image: url(pic\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
    
    
}
#container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(34, 67, 67);
    text-align: center;
}

